In [ ]:
#Задача 4.1

# Создание таблицы Students

import sqlite3

connection = sqlite3.connect('teachers.db')
cursor = connection.cursor()
query = """CREATE TABLE Students (
Student_Id INTEGER NOT NULL,
Student_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL PRIMARY KEY);"""
cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Наполнение таблицы Students

import sqlite3

connection = sqlite3.connect('teachers.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id, Student_Name, School_Id)
VALUES
('201', 'Иван', 1),
('202', 'Петр', 2),
('203', 'Анастасия', 3),
('204', 'Игорь', 4);"""
cursor.execute(query)
connection.commit()
connection.close()

In [3]:
# Вывести информацию о студенте по Student_Id + название школы
# через JOIN

import sqlite3

def get_connection():
  connection = sqlite3.connect('teachers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_student_data(school_id):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        query = """SELECT * FROM Students
        JOIN School ON School.School_Id = Students.school_id
        WHERE Students.School_id = ?"""
        cursor.execute(query,(school_id,))
        records = cursor.fetchall()
        for row in records:
            print ("ID cтудента:", row[0])
            print ("Имя студента:", row[1])
            print ("ID школы:", row[2])
            print ("Название школы:", row[4], "\n")
    except (Exception, sqlite3.Error) as error:
        print ('Ошибка в получении данных ', error)

get_student_data(3)

ID cтудента: 203
Имя студента: Анастасия
ID школы: 3
Название школы: Спектр